@media (max-width: 767px){
   

.wrapper-forma {
    padding: 139px 30px 135px 30px;
     .button-wrapper {
         h2 {
             font-size: 32px;
         }
    
.wrapper-button {
    text-align: center;
    .email {
    width: 320px;
    height: 76px;
    margin: 0 20px 20px 0;
    }

    .submit {
        margin: 0;
    }
   
}
}
}
}

