.wrapper-about-us{   
    padding-bottom: 110px;

    .info-teem {
        padding-bottom: 73px;

    h2 {
        font-size: 42px;
        color: $main-color;
        text-transform: uppercase;
        padding-bottom: 39px;
        font-weight: bold;
    }
    h2+p {
        font-size: $main-fz;
        color: $main-color;
        padding-bottom: 33px;
        width: 450px;
        line-height: 1.5;
    }
    .line-botton {
        @extend %line-btn;
        
    }
}
.wrapper-teem {
        display: flex;

 .wrapper-teem-photo {
            margin-right: 74px;
            display: flex;
            width: 25%;
            img {
                width: 100%;
            }
        }
    
    .gallery-photo {
        width: 75%;    

        h3 {
            font-size: 30px;
            color: $main-color;
            text-transform: uppercase;
            padding-bottom: 35px;
            font-weight: bold;
        }
        p {
            font-size: $main-fz;
            color: $main-color;
            padding-bottom: 49px;
            max-width: 632px;
            width: 100%;
            line-height: 1.5;
        }

        ul {
            display: flex;

            li {
                list-style: none;
                padding-bottom: 68px;}

            li:not(:last-child){
                padding-right: 30px;
            }    

                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: $main-color;
                    font-style: italic;
                }
        }
        .wrapper-photo {
            display: flex;
            img {width: 100%;}
            div {
                position: relative;
                display: flex;
                width: calc(100%/ 4 - 20px);
                margin-right: 20px;
               
        
           span{
                position: absolute;
                display: none;
                color: $color-fon;
                padding: 8px 0;
                width: 100%;
                background: #7a776e;
                bottom: 0;
                text-align: center;
                font-size: 18px;
                text-transform: uppercase;
                }
        }

            div:hover span {
            display: block;
            }
            
    }
    }
}
}